This notebook cleans the data and prepares it for EDA

In [1]:
import pandas as pd

In [2]:
# read the data that we got from GetData notebook
Sgate_4_hard_drive_df = pd.read_csv('Sgate_4_hard_drive_df.csv', index_col=[0])

/opt/anaconda3/envs/metis/lib/python3.7/site-packages/numpy/lib/arraysetops.py:568: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [5]:
Sgate_4_hard_drive_df.head()

,date,serial_number,model,capacity_bytes,failure,smart_184_raw,smart_10_raw,smart_242_raw,smart_241_raw,smart_194_raw,smart_193_raw,smart_9_raw,smart_198_raw,smart_197_raw,smart_188_raw,smart_187_raw,smart_5_raw
0,2019-01-01,Z305B2QN,ST4000DM000,4000787030016,0,0.0,0.0,1.183566e+11,4.553972e+10,20.0,34169.0,26712.0,0.0,0.0,0.0,0.0,0.0
1,2019-01-01,Z305DEMG,ST4000DM000,4000787030016,0,0.0,0.0,1.073960e+11,3.943132e+10,25.0,52131.0,25014.0,0.0,0.0,0.0,0.0,0.0
2,2019-01-01,Z3023VGH,ST4000DM000,4000787030016,0,0.0,0.0,1.821149e+11,2.362109e+10,28.0,48290.0,36942.0,0.0,0.0,0.0,0.0,0.0
3,2019-01-01,Z306WYZZ,ST4000DM000,4000787030016,0,0.0,0.0,7.994722e+10,1.826012e+10,20.0,201.0,12002.0,0.0,0.0,0.0,0.0,0.0
4,2019-01-01,Z3026Z8H,ST4000DM000,4000787030016,0,0.0,0.0,1.309415e+11,5.709599e+10,20.0,53950.0,34184.0,0.0,0.0,0.0,0.0,0.0

In [12]:
Sgate_4_hard_drive_df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5567979 entries, 0 to 5567978
Data columns (total 17 columns):
date              5567979 non-null object
serial_number     5567979 non-null object
model             5567979 non-null object
capacity_bytes    5567979 non-null int64
failure           5567979 non-null int64
smart_184_raw     5567701 non-null float64
smart_10_raw      5567701 non-null float64
smart_242_raw     5567701 non-null float64
smart_241_raw     5567701 non-null float64
smart_194_raw     5567701 non-null float64
smart_193_raw     5567701 non-null float64
smart_9_raw       5567701 non-null float64
smart_198_raw     5567701 non-null float64
smart_197_raw     5567701 non-null float64
smart_188_raw     5567701 non-null float64
smart_187_raw     5567701 non-null float64
smart_5_raw       5567701 non-null float64
dtypes: float64(12), int64(2), object(3)
memory usage: 764.6+ MB

There are 278 rows that contain no information on the SMART variables. 
We will replace the nan values with the prev_day_value+(rev_day_value-prev_prev_day_value) to avoid using future information in the current observation which can cause data leakage

In [10]:
Sgate_4_hard_drive_df.describe()

,capacity_bytes,failure,smart_184_raw,smart_10_raw,smart_242_raw,smart_241_raw,smart_194_raw,smart_193_raw,smart_9_raw,smart_198_raw,smart_197_raw,smart_188_raw,smart_187_raw,smart_5_raw
count,5.567979e+06,5.567979e+06,5.567701e+06,5567701.0,5.567701e+06,5.567701e+06,5.567701e+06,5.567701e+06,5.567701e+06,5.567701e+06,5.567701e+06,5.567701e+06,5.567701e+06,5.567701e+06
mean,4.000588e+12,5.082634e-05,3.403020e-03,0.0,1.455802e+11,4.751852e+10,2.309331e+01,3.757596e+04,3.143448e+04,1.872597e-01,1.872597e-01,4.872640e-02,1.695878e-01,5.816337e+00
std,2.822075e+10,7.129079e-03,2.934744e-01,0.0,3.191197e+10,8.950230e+09,3.926175e+00,7.288195e+04,3.859939e+03,3.007607e+01,3.007607e+01,1.336403e+00,1.547930e+00,3.434807e+02
min,-1.000000e+00,0.000000e+00,0.000000e+00,0.0,3.450000e+03,8.000000e+00,1.300000e+01,2.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.000787e+12,0.000000e+00,0.000000e+00,0.0,1.277849e+11,4.416789e+10,2.000000e+01,7.710000e+03,2.901900e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,4.000787e+12,0.000000e+00,0.000000e+00,0.0,1.409929e+11,4.877438e+10,2.200000e+01,1.377000e+04,3.127600e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,4.000787e+12,0.000000e+00,0.000000e+00,0.0,1.566000e+11,5.306438e+10,2.500000e+01,4.215300e+04,3.381000e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,4.000787e+12,1.000000e+00,7.200000e+01,0.0,2.214679e+12,7.388418e+10,5.000000e+01,1.520282e+06,5.403000e+04,4.933600e+04,4.933600e+04,1.290000e+02,1.440000e+02,6.539200e+04

In [13]:
Sgate_4_hard_drive_df.capacity_bytes.value_counts()

 4000787030016    5567701
-1                    264
 137438952960          14
Name: capacity_bytes, dtype: int64

In [14]:
Sgate_4_hard_drive_df[Sgate_4_hard_drive_df.capacity_bytes==-1]

,date,serial_number,model,capacity_bytes,failure,smart_184_raw,smart_10_raw,smart_242_raw,smart_241_raw,smart_194_raw,smart_193_raw,smart_9_raw,smart_198_raw,smart_197_raw,smart_188_raw,smart_187_raw,smart_5_raw
537413,2019-01-24,Z304JX10,ST4000DM000,-1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
540615,2019-01-24,Z304L8M8,ST4000DM000,-1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
542906,2019-01-24,Z304L98V,ST4000DM000,-1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550413,2019-01-24,Z304L9TT,ST4000DM000,-1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550462,2019-01-24,Z304JLTX,ST4000DM000,-1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5564515,2019-09-30,Z304JY7Q,ST4000DM000,-1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5565873,2019-09-30,Z304KDV4,ST4000DM000,-1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5566170,2019-09-30,Z304HR0B,ST4000DM000,-1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5567137,2019-09-30,Z304JYGE,ST4000DM000,-1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5567141,2019-09-30,Z304KAMR,ST4000DM000,-1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We will not be using the capacity_bytes in our modeling since most of the hard drives have the same capacity, and all the failed ones except one have 4Tb capacity

We can see that smart_10 is all zeroes for all the hard drives so we will drop it

In [15]:
Sgate_4_hard_drive_df = Sgate_4_hard_drive_df.drop('smart_10_raw', axis = 1)

For smart_9, which is the number of hours that a hard drive has been operational, the max number is equivalent to about 6 years which might be a on the higher side of life expectancy of hard-drives, but we won't change anything for now

In [44]:
# convert the date column to datetime
Sgate_4_hard_drive_df.date = pd.to_datetime(Sgate_4_hard_drive_df.date)

In [46]:
# sort the df by serial number then by date
Sgate_4_hard_drive_df = Sgate_4_hard_drive_df.sort_values(['serial_number','date'], ascending=True).reset_index()

In [47]:
Sgate_4_hard_drive_df

,index,date,serial_number,model,capacity_bytes,failure,smart_184_raw,smart_242_raw,smart_241_raw,smart_194_raw,smart_193_raw,smart_9_raw,smart_198_raw,smart_197_raw,smart_188_raw,smart_187_raw,smart_5_raw
0,4051,2019-01-01,S3000A9T,ST4000DM000,4000787030016,0,0.0,6.998938e+10,1.169269e+10,26.0,129430.0,14574.0,0.0,0.0,0.0,0.0,0.0
1,27265,2019-01-02,S3000A9T,ST4000DM000,4000787030016,0,0.0,7.002360e+10,1.169393e+10,26.0,129430.0,14598.0,0.0,0.0,0.0,0.0,0.0
2,50428,2019-01-03,S3000A9T,ST4000DM000,4000787030016,0,0.0,7.005824e+10,1.169529e+10,26.0,129430.0,14622.0,0.0,0.0,0.0,0.0,0.0
3,73615,2019-01-04,S3000A9T,ST4000DM000,4000787030016,0,0.0,7.009495e+10,1.169654e+10,27.0,129430.0,14646.0,0.0,0.0,0.0,0.0,0.0
4,96780,2019-01-05,S3000A9T,ST4000DM000,4000787030016,0,0.0,7.012896e+10,1.169782e+10,26.0,129430.0,14670.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567974,5473650,2019-09-26,Z307XHRJ,ST4000DM000,4000787030016,0,0.0,1.321189e+11,2.176368e+10,31.0,191.0,18522.0,0.0,0.0,0.0,0.0,0.0
5567975,5493105,2019-09-27,Z307XHRJ,ST4000DM000,4000787030016,0,0.0,1.323207e+11,2.179283e+10,29.0,191.0,18554.0,0.0,0.0,0.0,0.0,0.0
5567976,5512543,2019-09-28,Z307XHRJ,ST4000DM000,4000787030016,0,0.0,1.324661e+11,2.181590e+10,30.0,191.0,18570.0,0.0,0.0,0.0,0.0,0.0
5567977,5531877,2019-09-29,Z307XHRJ,ST4000DM000,4000787030016,0,0.0,1.326156e+11,2.185715e+10,31.0,191.0,18602.0,0.0,0.0,0.0,0.0,0.0
5567978,5551208,2019-09-30,Z307XHRJ,ST4000DM000,4000787030016,0,0.0,1.326890e+11,2.186765e+10,31.0,191.0,18617.0,0.0,0.0,0.0,0.0,0.0

In [48]:
Sgate_4_hard_drive_df.columns

Index(['index', 'date', 'serial_number', 'model', 'capacity_bytes', 'failure',
       'smart_184_raw', 'smart_242_raw', 'smart_241_raw', 'smart_194_raw',
       'smart_193_raw', 'smart_9_raw', 'smart_198_raw', 'smart_197_raw',
       'smart_188_raw', 'smart_187_raw', 'smart_5_raw'],
      dtype='object')

Let's fix the nan values

In [49]:
# this gives us the serial numbers of the hard drive models that have 
# daily observation that has nans in it
serial_numbers_with_null= Sgate_4_hard_drive_df[Sgate_4_hard_drive_df.smart_197_raw.isnull()].serial_number.unique()
serial_numbers_with_null

array(['S300VKRE', 'S300VKSQ', 'S300VKVC', 'S300VKVG', 'S300VKXH',
       'S300VLB0', 'S300VLG3', 'S300VLJH', 'S300VLQD', 'S300VLY5',
       'S300WCR9', 'S300WCSB', 'S300WCZ2', 'S300WD1K', 'S300WD2W',
       'S300WD4S', 'S300WD56', 'S300WD83', 'S300WD9E', 'S300WDA0',
       'S300WDG2', 'S300WDRB', 'S300WE6Y', 'S300WEA6', 'S300WEM8',
       'S300WEPB', 'S300WF49', 'S300WFD8', 'S300WFNP', 'S300WPF0',
       'S300WRC5', 'S300XAKC', 'S300XASS', 'S300XAYE', 'S300XBEZ',
       'S300XBT0', 'S300XC4E', 'S300XC50', 'S300XCJE', 'S300XDS7',
       'S300XDVP', 'S300XDWT', 'S300XDXP', 'S300XE1B', 'S300XE3E',
       'S300XE3K', 'S300XE5S', 'S300XE73', 'S300XE8A', 'S300XE8L',
       'S300XE9J', 'S300YJ50', 'S300YJ9Z', 'S300YPJ1', 'S300YPJT',
       'S300YPN3', 'S300YPNZ', 'S300YPQL', 'S300YPQW', 'S300YQN5',
       'S300YRXB', 'S300YRXX', 'S300YSEF', 'S300YSFF', 'S300YSFW',
       'S300YWZ5', 'S300Z3TP', 'S300Z41D', 'S300Z422', 'S300Z46D',
       'S300Z4BG', 'S300Z4JL', 'S300Z4NB', 'S300Z52Q', 'S300Z5NN',
       'S300Z5PV', 'S300Z61X', 'S300Z63N', 'S300Z6D6', 'S300Z6H3',
       'S300Z6RB', 'S300Z7JC', 'S300Z7LW', 'S300Z7MN', 'S300Z7PR',
       'S300Z7PT', 'S300Z7RG', 'S300Z7SC', 'S300Z7TN', 'S300Z7X8',
       'S300Z81N', 'S300Z829', 'S301099T', 'S3010AAY', 'S3010AH4',
       'S3010AHJ', 'S3010LCD', 'S3010LHV', 'S3010LHW', 'S3010LMJ',
       'S3010LPF', 'S3010LQP', 'S3010MB7', 'S3010MCM', 'S3010MFG',
       'S3010MFQ', 'S3010MH1', 'S30194VL', 'S301DL88', 'S301GM0Q',
       'S301GP81', 'S301GPDN', 'S301GPRW', 'S301GVGV', 'S301K02F',
       'S301K16Z', 'S301K2SK', 'S301K6T6', 'S301K6T8', 'S301K6TH',
       'S301K6TW', 'S301K6VV', 'S301K75S', 'S301KA83', 'S301KQKF',
       'S301KQKM', 'S301L3VP', 'S301LP9D', 'S301M4YT', 'S301N8DJ',
       'S301NBST', 'S301NFLB', 'S301NHZ4', 'S301NJHQ', 'S301NKF4',
       'S301NKH8', 'S301NXSJ', 'S301NXV6', 'S301PRDY', 'S301PSJN',
       'S301PSMJ', 'S301PSR2', 'S301PSV6', 'S301PSY7', 'S301PTJD',
       'S301PTJN', 'S301PTP7', 'S301PTQN', 'S301PTTB', 'W301D660',
       'Z3015CGY', 'Z30210YZ', 'Z3026P7C', 'Z3026PQN', 'Z3026PTB',
       'Z302AJRG', 'Z302AJXW', 'Z302AJZP', 'Z302AK8X', 'Z302AKLG',
       'Z302AKNE', 'Z302AYTW', 'Z302CBFW', 'Z302DJWV', 'Z302E6C2',
       'Z302EFWS', 'Z302EG7J', 'Z302EQEQ', 'Z302F37E', 'Z302F3XK',
       'Z302F45A', 'Z302F4BS', 'Z302F4HD', 'Z302FCEC', 'Z302WMML',
       'Z302ZCWX', 'Z302ZDPD', 'Z302ZPXW', 'Z302ZQCK', 'Z3035MYS',
       'Z3035N94', 'Z3035NS1', 'Z3035PK1', 'Z3035PWQ', 'Z3035PZK',
       'Z303H7R8', 'Z303RH74', 'Z3040PWM', 'Z3040VLL', 'Z30416RJ',
       'Z3041JNT', 'Z3041KBE', 'Z3041LKP', 'Z3041TGF', 'Z304457B',
       'Z304GEYY', 'Z304GR39', 'Z304GR5B', 'Z304HKC8', 'Z304HNB4',
       'Z304HNNY', 'Z304HR0B', 'Z304HRRD', 'Z304HZX0', 'Z304J45Q',
       'Z304JGBC', 'Z304JGBV', 'Z304JGC8', 'Z304JGCS', 'Z304JGCZ',
       'Z304JJDE', 'Z304JKYC', 'Z304JL5N', 'Z304JLTX', 'Z304JM43',
       'Z304JX10', 'Z304JY3H', 'Z304JY7Q', 'Z304JY8D', 'Z304JYGE',
       'Z304K098', 'Z304K0AN', 'Z304K4KX', 'Z304K5ZK', 'Z304K6DQ',
       'Z304KAMR', 'Z304KB4P', 'Z304KBBK', 'Z304KBKK', 'Z304KBLH',
       'Z304KBVC', 'Z304KC1J', 'Z304KC30', 'Z304KCK4', 'Z304KCWJ',
       'Z304KDAT', 'Z304KDDG', 'Z304KDDL', 'Z304KDG1', 'Z304KDV4',
       'Z304KDW0', 'Z304KEBH', 'Z304KECF', 'Z304KEWY', 'Z304L8M8',
       'Z304L98V', 'Z304L9NF', 'Z304L9NS', 'Z304L9TT', 'Z304LA66',
       'Z304NLHM', 'Z305B6KV', 'Z305D2QX', 'Z305D2SH', 'Z305D2TH',
       'Z305D2Z8', 'Z305D34J', 'Z305D58J', 'Z305D5AC', 'Z305D5AE',
       'Z305D5T5', 'Z305D6FW', 'Z305DFXJ', 'Z305DH71', 'Z305TDEN',
       'Z3067X1P'], dtype=object)

In [50]:
mask = ['capacity_bytes','smart_184_raw', 'smart_242_raw', 'smart_241_raw', 'smart_194_raw',
       'smart_193_raw', 'smart_9_raw', 'smart_198_raw', 'smart_197_raw',
       'smart_188_raw', 'smart_187_raw', 'smart_5_raw']

In [51]:
for s_num in serial_numbers_with_null:
    df = Sgate_4_hard_drive_df[Sgate_4_hard_drive_df.serial_number == s_num]
    df
    nan_index = df[pd.isnull(df).any(axis = 1)].index
    # if the nan value is the first or second entry for the hard drive, then we will just
    # drop it
    # if it is 3rd or later then we will use the change between the previous 2 to add to
    # the prev value to replace the nan
    if len(nan_index) >1:
        print(s_num)
    for ind in nan_index:
        if ind in df.index[:2]:
            Sgate_4_hard_drive_df = Sgate_4_hard_drive_df.drop(index = ind)
        else:
            # take the different between the prev 2 values and add to the prev
            Sgate_4_hard_drive_df.loc[ind,mask] = df.loc[ind-1,mask] + (df.loc[ind-1,mask] - df.loc[ind-2,mask])
            df.loc[ind,mask] = df.loc[ind-1,mask] + (df.loc[ind-1,mask] - df.loc[ind-2,mask])

/opt/anaconda3/envs/metis/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Z3015CGY

In [53]:
# check if worked
Sgate_4_hard_drive_df[Sgate_4_hard_drive_df.smart_197_raw.isnull()].serial_number

Series([], Name: serial_number, dtype: object)

In [55]:
Sgate_4_hard_drive_df = Sgate_4_hard_drive_df.reset_index()

In [57]:
Sgate_4_hard_drive_df = Sgate_4_hard_drive_df.drop(['level_0', 'index'], axis = 1)

In [58]:
Sgate_4_hard_drive_df

,date,serial_number,model,capacity_bytes,failure,smart_184_raw,smart_242_raw,smart_241_raw,smart_194_raw,smart_193_raw,smart_9_raw,smart_198_raw,smart_197_raw,smart_188_raw,smart_187_raw,smart_5_raw
0,2019-01-01,S3000A9T,ST4000DM000,4000787030016,0,0.0,6.998938e+10,1.169269e+10,26.0,129430.0,14574.0,0.0,0.0,0.0,0.0,0.0
1,2019-01-02,S3000A9T,ST4000DM000,4000787030016,0,0.0,7.002360e+10,1.169393e+10,26.0,129430.0,14598.0,0.0,0.0,0.0,0.0,0.0
2,2019-01-03,S3000A9T,ST4000DM000,4000787030016,0,0.0,7.005824e+10,1.169529e+10,26.0,129430.0,14622.0,0.0,0.0,0.0,0.0,0.0
3,2019-01-04,S3000A9T,ST4000DM000,4000787030016,0,0.0,7.009495e+10,1.169654e+10,27.0,129430.0,14646.0,0.0,0.0,0.0,0.0,0.0
4,2019-01-05,S3000A9T,ST4000DM000,4000787030016,0,0.0,7.012896e+10,1.169782e+10,26.0,129430.0,14670.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567964,2019-09-26,Z307XHRJ,ST4000DM000,4000787030016,0,0.0,1.321189e+11,2.176368e+10,31.0,191.0,18522.0,0.0,0.0,0.0,0.0,0.0
5567965,2019-09-27,Z307XHRJ,ST4000DM000,4000787030016,0,0.0,1.323207e+11,2.179283e+10,29.0,191.0,18554.0,0.0,0.0,0.0,0.0,0.0
5567966,2019-09-28,Z307XHRJ,ST4000DM000,4000787030016,0,0.0,1.324661e+11,2.181590e+10,30.0,191.0,18570.0,0.0,0.0,0.0,0.0,0.0
5567967,2019-09-29,Z307XHRJ,ST4000DM000,4000787030016,0,0.0,1.326156e+11,2.185715e+10,31.0,191.0,18602.0,0.0,0.0,0.0,0.0,0.0
5567968,2019-09-30,Z307XHRJ,ST4000DM000,4000787030016,0,0.0,1.326890e+11,2.186765e+10,31.0,191.0,18617.0,0.0,0.0,0.0,0.0,0.0

Save the cleaned dataframe

In [60]:
Sgate_4_hard_drive_df.to_csv('cleaned_Sgate_4_hard_drive_df.csv', index=False)