This notebook adds target columns to the hard drive dataframe to use for regression and classification

In [1]:
import pandas as pd

In [2]:
hard_drive_df = pd.read_csv('features_cleaned_Sgate_4_hard_drive_df.csv')

In [3]:
hard_drive_df.date = pd.to_datetime(hard_drive_df.date)

In [4]:
hard_drive_df.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5567969 entries, 0 to 5567968
Columns: 115 entries, date to smart_5_from_mean_30
dtypes: datetime64[ns](1), float64(111), int64(1), object(2)
memory usage: 4.8+ GB

In [5]:
hard_drive_df

,date,serial_number,model,failure,smart_184_raw,smart_242_raw,smart_241_raw,smart_194_raw,smart_193_raw,smart_9_raw,...,smart_184_from_mean_30,smart_242_from_mean_30,smart_241_from_mean_30,smart_194_from_mean_30,smart_193_from_mean_30,smart_198_from_mean_30,smart_197_from_mean_30,smart_188_from_mean_30,smart_187_from_mean_30,smart_5_from_mean_30
0,2019-01-01,S3000A9T,ST4000DM000,0,0.0,6.998938e+10,1.169269e+10,26.0,129430.0,14574.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-02,S3000A9T,ST4000DM000,0,0.0,7.002360e+10,1.169393e+10,26.0,129430.0,14598.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-03,S3000A9T,ST4000DM000,0,0.0,7.005824e+10,1.169529e+10,26.0,129430.0,14622.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-04,S3000A9T,ST4000DM000,0,0.0,7.009495e+10,1.169654e+10,27.0,129430.0,14646.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-05,S3000A9T,ST4000DM000,0,0.0,7.012896e+10,1.169782e+10,26.0,129430.0,14670.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567964,2019-09-26,Z307XHRJ,ST4000DM000,0,0.0,1.321189e+11,2.176368e+10,31.0,191.0,18522.0,...,0.0,3.545720e+09,3.998274e+08,1.266667,0.0,0.0,0.0,0.0,0.0,0.0
5567965,2019-09-27,Z307XHRJ,ST4000DM000,0,0.0,1.323207e+11,2.179283e+10,29.0,191.0,18554.0,...,0.0,3.504635e+09,4.005881e+08,-0.700000,0.0,0.0,0.0,0.0,0.0,0.0
5567966,2019-09-28,Z307XHRJ,ST4000DM000,0,0.0,1.324661e+11,2.181590e+10,30.0,191.0,18570.0,...,0.0,3.413599e+09,3.957689e+08,0.233333,0.0,0.0,0.0,0.0,0.0,0.0
5567967,2019-09-29,Z307XHRJ,ST4000DM000,0,0.0,1.326156e+11,2.185715e+10,31.0,191.0,18602.0,...,0.0,3.327336e+09,4.082934e+08,1.200000,0.0,0.0,0.0,0.0,0.0,0.0
5567968,2019-09-30,Z307XHRJ,ST4000DM000,0,0.0,1.326890e+11,2.186765e+10,31.0,191.0,18617.0,...,0.0,3.173511e+09,3.909090e+08,1.133333,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
print(hard_drive_df.columns[:50])
print(hard_drive_df.columns[50:])

Index(['date', 'serial_number', 'model', 'failure', 'smart_184_raw',
       'smart_242_raw', 'smart_241_raw', 'smart_194_raw', 'smart_193_raw',
       'smart_9_raw', 'smart_198_raw', 'smart_197_raw', 'smart_188_raw',
       'smart_187_raw', 'smart_5_raw', 'smart_184_rw10_mean',
       'smart_242_rw10_mean', 'smart_241_rw10_mean', 'smart_194_rw10_mean',
       'smart_193_rw10_mean', 'smart_198_rw10_mean', 'smart_197_rw10_mean',
       'smart_188_rw10_mean', 'smart_187_rw10_mean', 'smart_5_rw10_mean',
       'smart_184_rw20_mean', 'smart_242_rw20_mean', 'smart_241_rw20_mean',
       'smart_194_rw20_mean', 'smart_193_rw20_mean', 'smart_198_rw20_mean',
       'smart_197_rw20_mean', 'smart_188_rw20_mean', 'smart_187_rw20_mean',
       'smart_5_rw20_mean', 'smart_184_rw30_mean', 'smart_242_rw30_mean',
       'smart_241_rw30_mean', 'smart_194_rw30_mean', 'smart_193_rw30_mean',
       'smart_198_rw30_mean', 'smart_197_rw30_mean', 'smart_188_rw30_mean',
       'smart_187_rw30_mean', 'smart_5_rw30_mean', 'smart_184_rw10_std',
       'smart_242_rw10_std', 'smart_241_rw10_std', 'smart_194_rw10_std',
       'smart_193_rw10_std'],
      dtype='object')
Index(['smart_198_rw10_std', 'smart_197_rw10_std', 'smart_188_rw10_std',
       'smart_187_rw10_std', 'smart_5_rw10_std', 'smart_184_rw20_std',
       'smart_242_rw20_std', 'smart_241_rw20_std', 'smart_194_rw20_std',
       'smart_193_rw20_std', 'smart_198_rw20_std', 'smart_197_rw20_std',
       'smart_188_rw20_std', 'smart_187_rw20_std', 'smart_5_rw20_std',
       'smart_184_rw30_std', 'smart_242_rw30_std', 'smart_241_rw30_std',
       'smart_194_rw30_std', 'smart_193_rw30_std', 'smart_198_rw30_std',
       'smart_197_rw30_std', 'smart_188_rw30_std', 'smart_187_rw30_std',
       'smart_5_rw30_std', 'smart_184_vel', 'smart_242_vel', 'smart_241_vel',
       'smart_194_vel', 'smart_193_vel', 'smart_198_vel', 'smart_197_vel',
       'smart_188_vel', 'smart_187_vel', 'smart_5_vel',
       'smart_184_from_mean_10', 'smart_242_from_mean_10',
       'smart_241_from_mean_10', 'smart_194_from_mean_10',
       'smart_193_from_mean_10', 'smart_198_from_mean_10',
       'smart_197_from_mean_10', 'smart_188_from_mean_10',
       'smart_187_from_mean_10', 'smart_5_from_mean_10',
       'smart_184_from_mean_20', 'smart_242_from_mean_20',
       'smart_241_from_mean_20', 'smart_194_from_mean_20',
       'smart_193_from_mean_20', 'smart_198_from_mean_20',
       'smart_197_from_mean_20', 'smart_188_from_mean_20',
       'smart_187_from_mean_20', 'smart_5_from_mean_20',
       'smart_184_from_mean_30', 'smart_242_from_mean_30',
       'smart_241_from_mean_30', 'smart_194_from_mean_30',
       'smart_193_from_mean_30', 'smart_198_from_mean_30',
       'smart_197_from_mean_30', 'smart_188_from_mean_30',
       'smart_187_from_mean_30', 'smart_5_from_mean_30'],
      dtype='object')

Will first add the target column for regression - remaining_useful_life column, which will be the number of days until the hard drive fails, so we can only do this for the failed hard drives

In [7]:
# get the serial number of hard drives that have failed
failed_hd_list = hard_drive_df[hard_drive_df.failure == 1].serial_number

In [8]:
len(failed_hd_list)

283

In [9]:
# get all the smart variable information for all days for the failed hard drives
failed_hard_drive_df = hard_drive_df[hard_drive_df.serial_number.isin(failed_hd_list)]

In [10]:
failed_hard_drive_df = failed_hard_drive_df.reset_index()

In [11]:
failed_hard_drive_df = failed_hard_drive_df.drop('index',axis = 1)

In [12]:
failed_hard_drive_df

,date,serial_number,model,failure,smart_184_raw,smart_242_raw,smart_241_raw,smart_194_raw,smart_193_raw,smart_9_raw,...,smart_184_from_mean_30,smart_242_from_mean_30,smart_241_from_mean_30,smart_194_from_mean_30,smart_193_from_mean_30,smart_198_from_mean_30,smart_197_from_mean_30,smart_188_from_mean_30,smart_187_from_mean_30,smart_5_from_mean_30
0,2019-01-01,S300TS9Z,ST4000DM000,0,0.0,1.282154e+11,5.462447e+10,24.0,9469.0,29551.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-02,S300TS9Z,ST4000DM000,0,0.0,1.282944e+11,5.463919e+10,25.0,9469.0,29576.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-03,S300TS9Z,ST4000DM000,0,0.0,1.284215e+11,5.465146e+10,23.0,9469.0,29600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-04,S300TS9Z,ST4000DM000,0,0.0,1.285448e+11,5.467459e+10,21.0,9469.0,29625.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-05,S300TS9Z,ST4000DM000,0,0.0,1.286869e+11,5.469616e+10,23.0,9469.0,29649.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35704,2019-02-03,Z305PV18,ST4000DM000,0,0.0,1.094665e+11,3.903277e+10,22.0,55252.0,25819.0,...,0.0,1.560889e+09,2.871711e+08,-0.600000,0.0,0.0,0.0,0.0,0.0,0.0
35705,2019-02-04,Z305PV18,ST4000DM000,0,0.0,1.095685e+11,3.904579e+10,23.0,55252.0,25843.0,...,0.0,1.553707e+09,2.804432e+08,0.400000,0.0,0.0,0.0,0.0,0.0,0.0
35706,2019-02-05,Z305PV18,ST4000DM000,0,0.0,1.096601e+11,3.906892e+10,23.0,55252.0,25867.0,...,0.0,1.535804e+09,2.841633e+08,0.400000,0.0,0.0,0.0,0.0,0.0,0.0
35707,2019-02-06,Z305PV18,ST4000DM000,0,0.0,1.097698e+11,3.908764e+10,23.0,55252.0,25891.0,...,0.0,1.534504e+09,2.833419e+08,0.433333,0.0,0.0,0.0,0.0,0.0,0.0
35708,2019-02-07,Z305PV18,ST4000DM000,1,0.0,1.099417e+11,3.910572e+10,23.0,55252.0,25915.0,...,0.0,1.593798e+09,2.818730e+08,0.500000,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# get the indices of the failure date
failure_index_df = pd.DataFrame(failed_hard_drive_df[failed_hard_drive_df.failure == 1].date)
failure_index_df = failure_index_df.rename(columns={'date':'failure_date'})
failure_date_index_list = failure_index_df.index

In [14]:
failure_index_df

      failure_date
22      2019-01-23
213     2019-07-10
248     2019-02-04
410     2019-06-11
503     2019-04-03
...            ...
35119   2019-06-07
35360   2019-08-29
35600   2019-08-28
35670   2019-03-11
35708   2019-02-07

[283 rows x 1 columns]

In [15]:
failure_date_index_list

Int64Index([   22,   213,   248,   410,   503,   532,   637,   714,   763,
              804,
            ...
            34386, 34498, 34589, 34719, 34961, 35119, 35360, 35600, 35670,
            35708],
           dtype='int64', length=283)

In [16]:
# putting the failure date together with the hard drive df
# currently the failure_date column only contains dates in the failure date indices the 
# rest of the entries in the column are NaT
failed_hard_drive_df = pd.concat([failed_hard_drive_df,failure_index_df],axis =1)

In [17]:
def fill_in_dates_before_failure_date(df, curr_ind, prev_ind):
    ''' this assigns the failure date to all the entries before the 
    last working day of the hard drive (failure_date), we will use this 
    to subtract date column from, to geth the days until the hard drive fails'''
    df.failure_date[prev_ind:curr_ind+1] = df.failure_date.iloc[curr_ind]

In [18]:
prev_ind = 0
for failure_index in failure_date_index_list:
    # assigning the failure date for each row per serial_number
    fill_in_dates_before_failure_date(failed_hard_drive_df, failure_index, prev_ind)
    prev_ind = failure_index+1

/opt/anaconda3/envs/metis/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [19]:
# create remaining useful life columns
# this will be the target column for regression
failed_hard_drive_df['remaining_useful_life'] = failed_hard_drive_df.failure_date-failed_hard_drive_df.date
failed_hard_drive_df.remaining_useful_life = failed_hard_drive_df.remaining_useful_life.dt.days

In [20]:
failed_hard_drive_df

,date,serial_number,model,failure,smart_184_raw,smart_242_raw,smart_241_raw,smart_194_raw,smart_193_raw,smart_9_raw,...,smart_241_from_mean_30,smart_194_from_mean_30,smart_193_from_mean_30,smart_198_from_mean_30,smart_197_from_mean_30,smart_188_from_mean_30,smart_187_from_mean_30,smart_5_from_mean_30,failure_date,remaining_useful_life
0,2019-01-01,S300TS9Z,ST4000DM000,0,0.0,1.282154e+11,5.462447e+10,24.0,9469.0,29551.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,22
1,2019-01-02,S300TS9Z,ST4000DM000,0,0.0,1.282944e+11,5.463919e+10,25.0,9469.0,29576.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,21
2,2019-01-03,S300TS9Z,ST4000DM000,0,0.0,1.284215e+11,5.465146e+10,23.0,9469.0,29600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,20
3,2019-01-04,S300TS9Z,ST4000DM000,0,0.0,1.285448e+11,5.467459e+10,21.0,9469.0,29625.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,19
4,2019-01-05,S300TS9Z,ST4000DM000,0,0.0,1.286869e+11,5.469616e+10,23.0,9469.0,29649.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35704,2019-02-03,Z305PV18,ST4000DM000,0,0.0,1.094665e+11,3.903277e+10,22.0,55252.0,25819.0,...,2.871711e+08,-0.600000,0.0,0.0,0.0,0.0,0.0,0.0,2019-02-07,4
35705,2019-02-04,Z305PV18,ST4000DM000,0,0.0,1.095685e+11,3.904579e+10,23.0,55252.0,25843.0,...,2.804432e+08,0.400000,0.0,0.0,0.0,0.0,0.0,0.0,2019-02-07,3
35706,2019-02-05,Z305PV18,ST4000DM000,0,0.0,1.096601e+11,3.906892e+10,23.0,55252.0,25867.0,...,2.841633e+08,0.400000,0.0,0.0,0.0,0.0,0.0,0.0,2019-02-07,2
35707,2019-02-06,Z305PV18,ST4000DM000,0,0.0,1.097698e+11,3.908764e+10,23.0,55252.0,25891.0,...,2.833419e+08,0.433333,0.0,0.0,0.0,0.0,0.0,0.0,2019-02-07,1
35708,2019-02-07,Z305PV18,ST4000DM000,1,0.0,1.099417e+11,3.910572e+10,23.0,55252.0,25915.0,...,2.818730e+08,0.500000,0.0,0.0,0.0,0.0,0.0,0.0,2019-02-07,0

In [21]:
# Let's also add a comlumn where if remaining_usefule life > 30 
# we will assign all those values to be 42

failed_hard_drive_df['RUL_30'] = failed_hard_drive_df.remaining_useful_life
#failed_hd_df[failed_hd_df['RUL_30'] >30].RUL_30.replace(31)
failed_hard_drive_df['RUL_30'] = failed_hard_drive_df['RUL_30'].mask(failed_hard_drive_df['RUL_30'] > 30, 42)

In [22]:
failed_hard_drive_df.head(30)

,date,serial_number,model,failure,smart_184_raw,smart_242_raw,smart_241_raw,smart_194_raw,smart_193_raw,smart_9_raw,...,smart_194_from_mean_30,smart_193_from_mean_30,smart_198_from_mean_30,smart_197_from_mean_30,smart_188_from_mean_30,smart_187_from_mean_30,smart_5_from_mean_30,failure_date,remaining_useful_life,RUL_30
0,2019-01-01,S300TS9Z,ST4000DM000,0,0.0,1.282154e+11,5.462447e+10,24.0,9469.0,29551.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,22,22
1,2019-01-02,S300TS9Z,ST4000DM000,0,0.0,1.282944e+11,5.463919e+10,25.0,9469.0,29576.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,21,21
2,2019-01-03,S300TS9Z,ST4000DM000,0,0.0,1.284215e+11,5.465146e+10,23.0,9469.0,29600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,20,20
3,2019-01-04,S300TS9Z,ST4000DM000,0,0.0,1.285448e+11,5.467459e+10,21.0,9469.0,29625.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,19,19
4,2019-01-05,S300TS9Z,ST4000DM000,0,0.0,1.286869e+11,5.469616e+10,23.0,9469.0,29649.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,18,18
5,2019-01-06,S300TS9Z,ST4000DM000,0,0.0,1.288369e+11,5.471666e+10,21.0,9469.0,29673.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,17,17
6,2019-01-07,S300TS9Z,ST4000DM000,0,0.0,1.290098e+11,5.473516e+10,22.0,9469.0,29696.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,16,16
7,2019-01-08,S300TS9Z,ST4000DM000,0,0.0,1.291560e+11,5.475497e+10,21.0,9469.0,29720.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,15,15
8,2019-01-09,S300TS9Z,ST4000DM000,0,0.0,1.292616e+11,5.478061e+10,20.0,9469.0,29744.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,14,14
9,2019-01-10,S300TS9Z,ST4000DM000,0,0.0,1.293899e+11,5.480205e+10,20.0,9469.0,29767.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,13,13
10,2019-01-11,S300TS9Z,ST4000DM000,0,0.0,1.295231e+11,5.482509e+10,21.0,9469.0,29791.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,12,12
11,2019-01-12,S300TS9Z,ST4000DM000,0,0.0,1.297678e+11,5.485235e+10,20.0,9469.0,29815.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,11,11
12,2019-01-13,S300TS9Z,ST4000DM000,0,0.0,1.298942e+11,5.487463e+10,20.0,9469.0,29839.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,10,10
13,2019-01-14,S300TS9Z,ST4000DM000,0,0.0,1.300709e+11,5.489549e+10,20.0,9469.0,29862.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,9,9
14,2019-01-15,S300TS9Z,ST4000DM000,0,0.0,1.302370e+11,5.490984e+10,20.0,9469.0,29886.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,8,8
15,2019-01-16,S300TS9Z,ST4000DM000,0,0.0,1.303433e+11,5.492892e+10,21.0,9469.0,29910.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,7,7
16,2019-01-17,S300TS9Z,ST4000DM000,0,0.0,1.305084e+11,5.494619e+10,22.0,9469.0,29934.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,6,6
17,2019-01-18,S300TS9Z,ST4000DM000,0,0.0,1.306509e+11,5.496419e+10,21.0,9469.0,29957.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,5,5
18,2019-01-19,S300TS9Z,ST4000DM000,0,0.0,1.308244e+11,5.498111e+10,20.0,9469.0,29981.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,4,4
19,2019-01-20,S300TS9Z,ST4000DM000,0,0.0,1.309735e+11,5.499775e+10,21.0,9469.0,30005.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,3,3
20,2019-01-21,S300TS9Z,ST4000DM000,0,0.0,1.310997e+11,5.501955e+10,20.0,9469.0,30029.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,2,2
21,2019-01-22,S300TS9Z,ST4000DM000,0,0.0,1.312449e+11,5.504179e+10,21.0,9469.0,30052.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,1,1
22,2019-01-23,S300TS9Z,ST4000DM000,1,0.0,1.313648e+11,5.505936e+10,22.0,9469.0,30076.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,0,0
23,2019-01-01,S300VLA2,ST4000DM000,0,0.0,1.037720e+11,4.677526e+10,22.0,135907.0,30390.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-10,190,42
24,2019-01-02,S300VLA2,ST4000DM000,0,0.0,1.039489e+11,4.679290e+10,22.0,135907.0,30414.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-10,189,42
25,2019-01-03,S300VLA2,ST4000DM000,0,0.0,1.041235e+11,4.681388e+10,27.0,135907.0,30438.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-10,188,42
26,2019-01-04,S300VLA2,ST4000DM000,0,0.0,1.042818e+11,4.684977e+10,23.0,135907.0,30462.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-10,187,42
27,2019-01-05,S300VLA2,ST4000DM000,0,0.0,1.043915e+11,4.687819e+10,22.0,135907.0,30485.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-10,186,42
28,2019-01-06,S300VLA2,ST4000DM000,0,0.0,1.044724e+11,4.690491e+10,23.0,135907.0,30509.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-10,185,42
29,2019-01-07,S300VLA2,ST4000DM000,0,0.0,1.045851e+11,4.693413e+10,23.0,135907.0,30533.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-10,184,42

In [23]:
print(len(failed_hard_drive_df.columns))
print(len(set(failed_hard_drive_df.columns)))

118
118

In [24]:
# save the failed_hard_drive_df
failed_hard_drive_df.to_csv('failed_hard_drive_df.csv', index = False)

Now we can add the target column to be used in binary classification

For the failed hard drive we will use the remaining_useful_lfie column to obtain whether the hard drive will fail the next 30 days or not (1 if failed and 0 if not).

For non failed hard drives, we will remove the last 30 day observation and the target column values will be all 0.

In [25]:
# get all daily info of the non_failed hard drives
non_failed_hd_list=hard_drive_df[~hard_drive_df.serial_number.isin(failed_hd_list)].serial_number.unique()

In [26]:
len(non_failed_hd_list)

23110

In [27]:
# get the non failed hard drive data for all smart varialbe
# for all days
non_failed_hard_drive_df = hard_drive_df[hard_drive_df.serial_number.isin(non_failed_hd_list)]

In [28]:
non_failed_hard_drive_df = non_failed_hard_drive_df.reset_index()

In [29]:
non_failed_hard_drive_df.date

0         2019-01-01
1         2019-01-02
2         2019-01-03
3         2019-01-04
4         2019-01-05
             ...
5532255   2019-09-26
5532256   2019-09-27
5532257   2019-09-28
5532258   2019-09-29
5532259   2019-09-30
Name: date, Length: 5532260, dtype: datetime64[ns]

In [30]:
# since the still working hard drive haven't failed column
# fail_next_30_days will be all zeros

#non_failed_hard_drive_df['fail_next_30_days'] = 0
non_failed_hard_drive_df['fail_next_60_days'] = 0

In [31]:
non_failed_hard_drive_df

,index,date,serial_number,model,failure,smart_184_raw,smart_242_raw,smart_241_raw,smart_194_raw,smart_193_raw,...,smart_242_from_mean_30,smart_241_from_mean_30,smart_194_from_mean_30,smart_193_from_mean_30,smart_198_from_mean_30,smart_197_from_mean_30,smart_188_from_mean_30,smart_187_from_mean_30,smart_5_from_mean_30,fail_next_60_days
0,0,2019-01-01,S3000A9T,ST4000DM000,0,0.0,6.998938e+10,1.169269e+10,26.0,129430.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1,2019-01-02,S3000A9T,ST4000DM000,0,0.0,7.002360e+10,1.169393e+10,26.0,129430.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2,2019-01-03,S3000A9T,ST4000DM000,0,0.0,7.005824e+10,1.169529e+10,26.0,129430.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,3,2019-01-04,S3000A9T,ST4000DM000,0,0.0,7.009495e+10,1.169654e+10,27.0,129430.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,4,2019-01-05,S3000A9T,ST4000DM000,0,0.0,7.012896e+10,1.169782e+10,26.0,129430.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5532255,5567964,2019-09-26,Z307XHRJ,ST4000DM000,0,0.0,1.321189e+11,2.176368e+10,31.0,191.0,...,3.545720e+09,3.998274e+08,1.266667,0.0,0.0,0.0,0.0,0.0,0.0,0
5532256,5567965,2019-09-27,Z307XHRJ,ST4000DM000,0,0.0,1.323207e+11,2.179283e+10,29.0,191.0,...,3.504635e+09,4.005881e+08,-0.700000,0.0,0.0,0.0,0.0,0.0,0.0,0
5532257,5567966,2019-09-28,Z307XHRJ,ST4000DM000,0,0.0,1.324661e+11,2.181590e+10,30.0,191.0,...,3.413599e+09,3.957689e+08,0.233333,0.0,0.0,0.0,0.0,0.0,0.0,0
5532258,5567967,2019-09-29,Z307XHRJ,ST4000DM000,0,0.0,1.326156e+11,2.185715e+10,31.0,191.0,...,3.327336e+09,4.082934e+08,1.200000,0.0,0.0,0.0,0.0,0.0,0.0,0
5532259,5567968,2019-09-30,Z307XHRJ,ST4000DM000,0,0.0,1.326890e+11,2.186765e+10,31.0,191.0,...,3.173511e+09,3.909090e+08,1.133333,0.0,0.0,0.0,0.0,0.0,0.0,0

In [32]:
# we remove the last 30 days from each hard drive
# since for the still working hard drives we 
# don't have info whether the next 30 days it will fail
# for the last 30 day info

#non_failed_hard_drive_df = non_failed_hard_drive_df.groupby('serial_number').apply(lambda x: x[:-30]).drop(['serial_number'],axis = 1).reset_index()
non_failed_hard_drive_df = non_failed_hard_drive_df.groupby('serial_number').apply(lambda x: x[:-60]).drop(['serial_number'],axis = 1).reset_index()

In [33]:
non_failed_hard_drive_df = non_failed_hard_drive_df.drop(['level_1', 'index'], axis = 1)

Add fail_next_30_days column to the failed_hard_drive_df dataframe

In [34]:
#failed_hard_drive_df['fail_next_30_days'] = failed_hard_drive_df['remaining_useful_life'].apply(lambda x: 1 if x<=30 else 0) 
failed_hard_drive_df['fail_next_60_days'] = failed_hard_drive_df['remaining_useful_life'].apply(lambda x: 1 if x<=60 else 0)

In [35]:
#failed_hard_drive_df = failed_hard_drive_df.drop('fail_next_30_days',axis = 1)

In [36]:
failed_hard_drive_df

,date,serial_number,model,failure,smart_184_raw,smart_242_raw,smart_241_raw,smart_194_raw,smart_193_raw,smart_9_raw,...,smart_193_from_mean_30,smart_198_from_mean_30,smart_197_from_mean_30,smart_188_from_mean_30,smart_187_from_mean_30,smart_5_from_mean_30,failure_date,remaining_useful_life,RUL_30,fail_next_60_days
0,2019-01-01,S300TS9Z,ST4000DM000,0,0.0,1.282154e+11,5.462447e+10,24.0,9469.0,29551.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,22,22,1
1,2019-01-02,S300TS9Z,ST4000DM000,0,0.0,1.282944e+11,5.463919e+10,25.0,9469.0,29576.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,21,21,1
2,2019-01-03,S300TS9Z,ST4000DM000,0,0.0,1.284215e+11,5.465146e+10,23.0,9469.0,29600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,20,20,1
3,2019-01-04,S300TS9Z,ST4000DM000,0,0.0,1.285448e+11,5.467459e+10,21.0,9469.0,29625.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,19,19,1
4,2019-01-05,S300TS9Z,ST4000DM000,0,0.0,1.286869e+11,5.469616e+10,23.0,9469.0,29649.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-23,18,18,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35704,2019-02-03,Z305PV18,ST4000DM000,0,0.0,1.094665e+11,3.903277e+10,22.0,55252.0,25819.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2019-02-07,4,4,1
35705,2019-02-04,Z305PV18,ST4000DM000,0,0.0,1.095685e+11,3.904579e+10,23.0,55252.0,25843.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2019-02-07,3,3,1
35706,2019-02-05,Z305PV18,ST4000DM000,0,0.0,1.096601e+11,3.906892e+10,23.0,55252.0,25867.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2019-02-07,2,2,1
35707,2019-02-06,Z305PV18,ST4000DM000,0,0.0,1.097698e+11,3.908764e+10,23.0,55252.0,25891.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2019-02-07,1,1,1
35708,2019-02-07,Z305PV18,ST4000DM000,1,0.0,1.099417e+11,3.910572e+10,23.0,55252.0,25915.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2019-02-07,0,0,1

In [37]:
failed_hard_drive_df.columns

Index(['date', 'serial_number', 'model', 'failure', 'smart_184_raw',
       'smart_242_raw', 'smart_241_raw', 'smart_194_raw', 'smart_193_raw',
       'smart_9_raw',
       ...
       'smart_193_from_mean_30', 'smart_198_from_mean_30',
       'smart_197_from_mean_30', 'smart_188_from_mean_30',
       'smart_187_from_mean_30', 'smart_5_from_mean_30', 'failure_date',
       'remaining_useful_life', 'RUL_30', 'fail_next_60_days'],
      dtype='object', length=119)

In [38]:
non_failed_hard_drive_df.columns

Index(['serial_number', 'date', 'model', 'failure', 'smart_184_raw',
       'smart_242_raw', 'smart_241_raw', 'smart_194_raw', 'smart_193_raw',
       'smart_9_raw',
       ...
       'smart_242_from_mean_30', 'smart_241_from_mean_30',
       'smart_194_from_mean_30', 'smart_193_from_mean_30',
       'smart_198_from_mean_30', 'smart_197_from_mean_30',
       'smart_188_from_mean_30', 'smart_187_from_mean_30',
       'smart_5_from_mean_30', 'fail_next_60_days'],
      dtype='object', length=116)

In [39]:
print(len(failed_hard_drive_df.columns))
print(len(set(failed_hard_drive_df.columns)))
print(len(non_failed_hard_drive_df.columns))
print(len(set(non_failed_hard_drive_df.columns)))

119
119
116
116

In [40]:
df = pd.concat([non_failed_hard_drive_df, failed_hard_drive_df.drop(['failure_date','remaining_useful_life', 'RUL_30',],axis=1)])

/opt/anaconda3/envs/metis/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [41]:
print(len(df.columns))
print(len(set(df.columns)))

116
116

In [42]:
df.head()

,date,fail_next_60_days,failure,model,serial_number,smart_184_from_mean_10,smart_184_from_mean_20,smart_184_from_mean_30,smart_184_raw,smart_184_rw10_mean,...,smart_5_from_mean_30,smart_5_raw,smart_5_rw10_mean,smart_5_rw10_std,smart_5_rw20_mean,smart_5_rw20_std,smart_5_rw30_mean,smart_5_rw30_std,smart_5_vel,smart_9_raw
0,2019-01-01,0,0,ST4000DM000,S3000A9T,NaN,NaN,NaN,0.0,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14574.0
1,2019-01-02,0,0,ST4000DM000,S3000A9T,NaN,NaN,NaN,0.0,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,14598.0
2,2019-01-03,0,0,ST4000DM000,S3000A9T,NaN,NaN,NaN,0.0,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,14622.0
3,2019-01-04,0,0,ST4000DM000,S3000A9T,NaN,NaN,NaN,0.0,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,14646.0
4,2019-01-05,0,0,ST4000DM000,S3000A9T,NaN,NaN,NaN,0.0,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,14670.0

In [64]:
df.shape

(4209390, 115)

In [45]:
# save the dataset for classification use
#df.to_csv('hard_drive_df_for_binary_classification_30.csv', index = False)
df.to_csv('hard_drive_df_for_binary_classification_60.csv', index = False)